@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel Text="Header" />
        </RadzenStack>
    </RadzenHeader>
   
    <RadzenBody>
        <div class="rz-display-flex rz-row rz-align-items-normal rz-justify-content-center rz-mx-auto">
            <div class="rz-col-12 rz-col-md-10">

                @Body
            </div>            
        </div>
    </RadzenBody>
   
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;
}
