@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <RadzenHeader>
        <div class="rz-display-flex rz-justify-content-center rz-row rz-mx-auto rz-py-2 rz-px-4">
            <div class="rz-col-7">
                <SectionOutlet SectionName="header" />
            </div>
        </div>
    </RadzenHeader>

    <RadzenBody>
        <div class="rz-display-flex rz-row rz-align-items-normal rz-justify-content-center rz-mx-auto">
            <div class="rz-col-7">
                @Body
            </div>
        </div>
    </RadzenBody>

</RadzenLayout>

<style>
    .header {
        
    }
</style>