@using Radzen
@namespace ScrumPoker.Components
@inject DialogService DialogService

<RadzenStack Gap="1.5rem">
    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem" AlignItems="AlignItems.Stretch"
        JustifyContent="JustifyContent.SpaceBetween">
        <RadzenText TextStyle="TextStyle.Body1">
            To create a new session, please enter a name for the session:
        </RadzenText>
        <div class="rz-my-2">
            <RadzenTextBox @bind-Value="SessionName" Style="width:100%" Placeholder="Session Name"  />
        </div>
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenButton Text="Create" Click="() => DialogService.Close(true)" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Style="width: 80px;" />
            <RadzenButton Text="Cancel" Click="() => DialogService.Close(false)" ButtonStyle="ButtonStyle.Light" />
        </RadzenStack>
    </RadzenStack>
</RadzenStack>

@code {
    string SessionName { get; set; } = string.Empty;
}