@using Radzen
@namespace ScrumPoker.Components
@inject DialogService DialogService
@inject ISessionService SessionService
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime

<RadzenStack Gap="1.5rem">
    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem" AlignItems="AlignItems.Stretch"
        JustifyContent="JustifyContent.SpaceBetween">
        <RadzenText TextStyle="TextStyle.Body1">
            Wanna Join a session? 👆
        </RadzenText>
        <div class="rz-my-2">
            <RadzenTextBox  @bind-Value="SessionId" Style="width:100%" Placeholder="SessionId" />
        </div>
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenButton Text="Join" Click=@HandleJoinSession ButtonType="ButtonType.Submit"
                ButtonStyle="ButtonStyle.Primary" icon="arrow_forward" Style="width: 80px;" />
            <RadzenButton Text="Cancel" Click="() => DialogService.Close(false)" ButtonStyle="ButtonStyle.Light" />
        </RadzenStack>
    </RadzenStack>
</RadzenStack>


@code {
    string? SessionId { get; set; }

    void HandleJoinSession() {
        if (string.IsNullOrEmpty(SessionId))
            return;

        if(!long.TryParse(SessionId, out var numericId))
            throw new Exception("ID is not valid");

        DialogService.Close(true);
        NavigationManager.NavigateTo($"/Session/{SessionId}", true);
    }
}