<div class="item @(IsUserEstimated? "estimated": "")" >
    <div>@Username</div>
    <div class="value">
        @if(Revealed) {
            <span class="revealed">@Value</span>
        }
        else {
            if(IsUserEstimated) {
                <span class="selected">?</span>
            }
            
        }
    </div>
</div>

@code {

    [Parameter]
    public required string Username { get; set; }
    
    [Parameter]
    public int? Value { get; set; }

    [Parameter]
    public bool Revealed {get;set;} = false;
    [Parameter]
    public bool IsUserEstimated { get; set; } = false;
}


<style>
    .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: .4rem .7rem;
        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.018);
        border-radius: .4rem;
        background-color: #fff;
        margin: 0.5rem;
        font-size: 1rem;
    }

    .value {
        padding:0 .9rem;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        font-weight:bold;
        border-radius: .4rem;
       
    }

    .estimated .value {
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    }
</style>