@page "/Session/{id}"
@using Microsoft.AspNetCore.Components.Sections
@using ScrumPoker.Web.Components.PokerSession

@rendermode InteractiveServer

<PageTitle>Session @ActiveSession?.Title</PageTitle>

<SectionContent SectionName="header">
    <div class="rz-display-flex rz-justify-content-between rz-align-items-center">
        <div style="font-weight:bold;margin-right:1rem;font-size:1rem">
            @* <span>Session: <a href="@navigation.Uri">@ActiveSession?.Id</a></span> *@
            <span>Session: <a href="@navigation.Uri">@ActiveSession?.Title</a></span>
        </div>
        <RadzenButton Variant="Variant.Outlined" class="rz-ripple"
            Icon="share" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Base"
            Click=@Share />
    </div>
</SectionContent>

@if (ActiveSession != null && UserIsJoined)
{
    @if(IsAdmin){
        <h2>Admin 🎖️</h2>
    }
    @if (!IsAdmin)
    {
        //TODO: show Task details
        
        <div class="rz-text-align-center">
            <h2>@ActiveUser.DisplayName</h2>
        </div>
        <h2>Your vote:</h2>
        @* <h2>User: @ActiveUser?.DisplayName</h2> *@
        <PokerCards OnEstimate=@DoEstimate />
    }
    <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal"
        JustifyContent="JustifyContent.SpaceBetween">
        <h3>Session @ActiveSession?.Title</h3>
        @if (IsAdmin)
        {

            @if (ActiveSession.ActiveBacklog.Estimates.Any()){
                @* <RadzenButton Variant="Variant.Flat" class="action-button rz-ripple rz-margin-right-4"
                    ButtonType="ButtonType.Button" Icon="delete" Text="Delete Estimates" Size="ButtonSize.Medium"
                    ButtonStyle="ButtonStyle.Secondary" Click=@DeleteEstimates /> *@

                <RadzenButton Variant="Variant.Flat" class="action-button rz-ripple rz-margin-right-4"
                    ButtonType="ButtonType.Button" Icon="visibility" Text="Reveal" Size="ButtonSize.Medium"
                    ButtonStyle="ButtonStyle.Success" Click=@RevealResults />
            }
        }
    </RadzenStack>
    @if (ActiveSession.Participants.Any())
    {
        <div class="estimates">
            @foreach (var item in ActiveSession.Participants)
            {
                var isUserEstimated = ActiveSession.ActiveBacklog.Estimates
                    .Any(e => e.ParticipantId == item.Id);
                    
                <EstimationItem Username="@item.DisplayName" Revealed=@ActiveSession.ActiveBacklog.IsRevealed IsUserEstimated=@isUserEstimated  />
            }
        </div>
    }
    else if(IsAdmin)
    {
        <NoEstimates />
    }
}
